.input-field{
  display: flex;
  // flex-direction: row;
  // justify-content: center;
  align-items: center;
  position: absolute;
  // display: grid;

justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 350px;
  width: 550px;
  margin: auto;
  border: 3px solid #b9b584; 
  vertical-align: center;
  background-color: aliceblue;
  border-radius: 5%;

}
input{
  width: 250px;
  // top: 50%;
  // left: 50%;
  // display: none;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: blue;
  color: white;
  // flex: 0 0 auto;
}

.example-items-col{
  // position: absolute;
  padding-top: 59px;
  // margin-left: -100px;
}
.fileupload{
  display: none;
}
.editButton{
  margin: 5px;
  margin-top: 10px;
}
.uploadFileBody{
  background-color: aliceblue;

}