<nb-card 
size="large" 
style="border-radius: 1rem; max-width: 80rem; margin:auto;  top: 20rem; 
border: 1px solid #aab4be; margin-top: 5rem;
"
>
    <nb-card-body >
      <div>
        <div>
          <i class="fa-sharp fa-solid fa-angle-left"></i>
          <button class="back-button">back</button>
          
        </div>
        <div class="card-body">
          <div>
            
            <div class="card-main-body">
              <div >
                <div><h3 class="body-title">Required Documents<span class="body-title-span">(for individual customer only)</span></h3></div>
                <h4>Simplified e-KYC</h4>
                <p class="body-title-span">[Deposit/Withdrawal not exceeding <br> 1,00,000/- per month]</p>
                <ul>
                  <li>NID</li>
                  <li>Nominee Photo</li>
                  <li>Nominee ID <span class="body-title-span">(NID/Birth Registration certificate/Passport)</span></li>
                  <li>e-TIN(if any)</li>
                  <li>Captured/Upload Signature</li>
                </ul>
              </div>
              <div class="image">
                <img src="../../../assets/documents/welcome-image.png" alt="NRBC image">
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </nb-card-body>
  </nb-card>