<nb-card 
class="nd-card"
style="border-radius: 1rem; ">
    <nb-card-body class="main-body">
      <div>
        <div>
          <button class="back-button buttonTextFormatter " type="button">
            <nb-icon icon="arrow-ios-back-outline" ></nb-icon> Back
          </button>
          
        </div>
        <div class="card-body">
          <div>
            
            <div >
              <main class="card-main-body">
                <section class="text-items">
                  <h3 class="body-title">Required Documents<span class="body-title-span">(for individual customer only)</span></h3>
                
                  <h4 class="e-KYC">Simplified e-KYC</h4>
                <p class="body-title-span">[Deposit/Withdrawal not exceeding <br> 1,00,000/- per month]</p>
                <ul>
                  <li>NID</li>
                  <li>Nominee Photo</li>
                  <li id="body-title-span-li">Nominee ID <span class="body-title-span ">(NID/Birth Registration certificate/Passport)</span></li>
                  <li>e-TIN <span class="body-title-span ">(if any)</span></li>
                  <li>Captured/Upload Signature</li>
                </ul>
                </section>
                <section>
                  <div >
                    <img class="image" src="../../../assets/documents/welcome-image.png" alt="NRBC image">
                  </div>
                </section>
              </main>
              
            </div>
          </div>
          
        </div>
      </div>
    </nb-card-body>
  </nb-card>