.nd-card {
  margin: 8%;
  margin-top: 5rem;
  max-width: 75rem;
  border-radius: 1rem;
  // margin-top: 0;
  margin-bottom: 0;
}
.main-body {
  background-color: white;
  border-radius: 1rem;
}
.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  //   background-color: aliceblue;
}
.card-main-body {
  display: flex;
  align-items: center;
  // margin-bottom: 5rem;
  margin-left: 10rem;
  // width: 30rem;
}
.back-button {
  background-color: white;
  border: none;
  margin: 1.5rem;
}

.body-title {
  color: green;
}
.body-title-span {
  font-size: 16px;
  color: rgb(173, 193, 201);
  margin-left: 10px;
}
.image {
  bottom: 0;
  right: 0;
  padding-left: 5rem;
  padding-top: 4rem;
  margin-top: 5rem;
}

@media screen and (min-width: 260px) and (max-width: 360px) {
  .nd-card {
    margin-left: 0.5rem;
    margin-top: 0rem;
  }
  .card-main-body {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 0.5rem;
  }
  .back-button {
    margin: 0rem;
    margin-bottom: 1rem;
    background-color: white;
    border: none;
  }
  .image {
    margin-top: 10px;
    width: 70%;
    padding: 10px;
  }
  .body-title {
    font-weight: bold;
    font-size: 20px;
  }
  .e-KYC {
    font-size: 22px;
  }
  h3.body-title {
    span {
      font-size: 12px;
      //   display: inline-block;
      &::before {
        content: "\A";
        white-space: pre;
      }
    }
  }
  .body-title-span {
    font-size: 12px;
  }
  .body-title-span-li {
    font-size: 12px;
  }
  .body-title-span-li::before {
    content: "\A";
    white-space: pre;
  }
}

@media screen and (max-width: 1020px) and (min-width: 260px) {
  .nd-card {
    margin-left: 0.5rem;
  }
  .card-main-body {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 1rem;
  }
  .back-button {
    margin: 0rem;
    margin-bottom: 1rem;
    background-color: white;
    border: none;
  }
  .image {
    margin-top: 10px;
    width: 80%;
    padding: 15px;
  }
  .body-title {
    font-weight: bold;
    font-size: 22px;
  }
  .e-KYC {
    font-size: 22px;
  }
  h3.body-title {
    span {
      font-size: 12px;
      //   display: inline-block;
      &::before {
        content: "\A";
        white-space: pre;
      }
    }
  }
  .body-title-span {
    font-size: 12px;
  }
  .body-title-span-li {
    font-size: 12px;
  }
  .body-title-span-li::before {
    content: "\A";
    white-space: pre;
  }
}

@media screen and (min-width: 1020px) and (max-width: 1680px) {
  .card-main-body {
    display: flex;
    // flex-direction: column;
    // flex-direction: column-reverse;
  }
  .back-button {
    left: 0;
    margin: 0px;
    background-color: white;
    border: none;
  }
  .text-items {
    padding-left: 3rem;
  }
  .image {
    margin-top: 10px;
    width: 70%;
    padding: 15px;
    padding-top: 4rem;
  }
  .body-title {
    font-weight: bold;
    font-size: 22px;
  }
  h3.body-title {
    span {
      font-size: 12px;
      //   display: inline-block;
      &::before {
        content: "\A";
        white-space: pre;
      }
    }
  }
  .body-title-span {
    font-size: 12px;
  }
  .body-title-span-li {
    font-size: 12px;
  }
  .body-title-span-li::before {
    content: "\A";
    white-space: pre;
  }
}
