<nb-layout-header *ngIf="isStaff || isAdmin" fixed>
  <!-- <h1  class="header"> GigaTech Coffee Management System </h1>-->
   <app-header></app-header>
  </nb-layout-header>
<div class="container">
    <div class="main-box">

    <div>
      <div class="d-flex justify-content-center">
        <!-- <div class="spinner-border"
            role="status" id="loading">
            <span class="sr-only">Loading...</span>
        </div> -->
    <div class="main-content">
    <div id="img"> 
        <img src="../../../assets/user_images/Icon.png" alt="">
    </div >
    <div id="content">
      <h1 id="name">{{userDetails?.username}}</h1>
      <p id="email">{{userDetails?.email}}</p>
      <div class="value-display">
        <p id="team">Team: {{userDetails?.team}}</p>
        <h4 id="id">ID: {{userDetails?.id}}</h4>
      </div>
      <h4 id="balance">Balance: {{userDetails?.balance}}</h4>
  </div>
  </div>
  </div>
  </div>
  
  </div>
  <div id="logout">
    <button id="logoutbutton" nbButton status="danger" (click)="handleLogout()">Logout</button>
    </div>
  